# Notebook Checkpoints
.ipynb_checkpoints/


.DS_Store

# Model
app/models/*.pkl
app/models/*.pth
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
